[submodule "origin"]
	path = origin
	url = https://github.com/Natashi/Touhou-Danmakufu-ph3sx-2.git
[submodule "external/libogg"]
	path = external/libogg
	url = https://github.com/xiph/ogg.git
[submodule "external/libvorbis"]
	path = external/libvorbis
	url = https://github.com/xiph/vorbis.git
[submodule "external/zlib"]
	path = external/zlib
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
